{% load i18n %}
{% load url from future %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans with site_name=site.name %}
    Вы или лицо, представляющее вас, подали запрос на регистрацию аккаунта на сайте
    {{ site_name }}.Если вы не подавали подобный запрос, пожалуйста, проигнорируйте сообщение, и вы будете автоматически удалены из списка адресатов.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
        Для активации аккаунта пройдите по данной ссылке в течении
    {{ expiration_days }} дней:
    {% endblocktrans %}
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
    {% blocktrans with site_name=site.name %}
    Администрация,
    {{ site_name }}.
    {% endblocktrans %}
</p>
</body>

</html>