@media (min-width: 1200px)
  .table-content-old
    
    
    .container
      margin-top 50px
      
      .row
        margin 0
        
        .table-date

          .table-date-form
            
            .table-data-form-title
              make-md-column(4)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              make-md-column(4)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-md-column(3)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
  .div_for_id_diagramm
    width 600px
    height 800px

@media (min-width: 992px) and (max-width: 1199px) 
  .table-content-old
    
    
    .container
      margin-top 50px
      
      .row
        margin 0
        
        .table-date

          .table-date-form
            

            .table-data-form-title
              make-md-column(4)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              make-md-column(4)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-md-column(3)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
@media (min-width: 801px) and (max-width: 991px) 
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left auto
      .row
        margin 0
        
        .table-date

          .table-date-form
            
            .table-data-form-title
              make-sm-column(5)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              make-sm-column(5)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-sm-column(3)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
@media (min-width: 768px) and (max-width: 800px) 
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left -7px
      .row
        margin 0
        
        .table-date

          .table-date-form

            .table-data-form-title
              make-sm-column(5)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              make-sm-column(5)
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-sm-column(3)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
@media (max-width: 767px)
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left auto
      .row
        margin 0
        
        .table-date

          .table-date-form

            .table-data-form-title
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              padding 0
              
              &-buttom
                make-xs-column(11.4)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                margin-top 10px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
@media (max-width: 630px)
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left auto
      .row
        margin 0
        
        .table-date

          .table-date-form

            .table-data-form-title
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              padding 0
              
              &-buttom
                make-xs-column(11.3)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                margin-top 10px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px


@media (max-width: 480px)
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left auto
      .row
        margin 0
        
        .table-date
          


          .table-date-form
            
            .table-data-form-title
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-xs-column(11.1)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px
    
@media (min-width: 320px) and (max-width:360px)
  .table-content-old
    
    
    .container
      
      margin auto
      margin-top 50px
      margin-left auto
      .row
        margin 0
        
        .table-date

          .table-date-form

            .table-data-form-title
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-title__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-title__input
                margin-top 10px
                padding 3px

            .table-data-form-barometricpressure
              padding 0
              margin-bottom 20px
              font-size 16px
              
              .table-data-barometricpressure__label
                font-size 18px
                margin-bottom 10px
              
              .table-data-barometricpressure__input
                margin-top 10px
                padding 3px
              
            &__buttoms
              make-row()
              margin-top 20px
              margin-bottom 20px
              margin-left -20px
              
              &-buttom
                make-xs-column(10.8)
                padding 5px 2px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
                &:hover
                  color #fff
                  background greenNice
                  border solid 2px greenNice

  .form-control
    font-size 14px
    padding 3px