.container
  
  .row
    margin 0
    
    .id-list
      border solid 1px silverColor
      border-radius 5px
      overflow hidden
      margin-top 20px
      
      &-content
        line-height 20px
        color #3d3b3b
        font-size 18px
        transition(color ease-in-out 0.2s)
        margin 20px 20px

        &__link
          font-family 'ProximaNovaRegular'
          color #3d3b3b 
          margin-left 20px
          
          &:hover
            color silverDarkColor
          
