@media (min-width: 1200px)
  .footer
    border-top 1px solid greyColor
    padding 15px 0
    
    &-content
      make-row()
      
      &__wrap
        display inline-block
        padding-left 30px
      
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px

      &__logo
        float right
        display inline-block
        
        &-img
          padding-top 10px
          display inline-block
          
@media (min-width: 992px) and (max-width: 1199px) 
  .footer
    border-top 1px solid greyColor
    padding 15px 0
    
    &-content
      make-row()
      
      &__wrap
        display inline-block
        padding-left 30px
      
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px

      &__logo
        float right
        display inline-block
        
        &-img
          padding-top 10px
          display inline-block
          
@media (min-width: 768px) and (max-width: 991px) 
  .footer
    border-top 1px solid greyColor
    padding 15px 0
    
    &-content
      make-row()
      
      
      &__wrap
        display inline-block
        padding-left 30px
      
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px

      &__logo
        float right
        display inline-block
        
        &-img
          padding-top 10px
          display inline-block
          
@media (max-width: 767px)
  .footer
    border-top 1px solid greyColor
    padding 15px 0
    
    &-content
      make-row()
      
      &__wrap
        display inline-block
        padding-left 30px
      
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px
          display none !important
          visibility hidden !important

      &__logo
        make-xs-column(4)
        make-xs-column-offset(4)
        display inline-block
        
        &-img
          padding-top 10px
          display inline-block
          
@media (max-width: 480px)
  .footer
    border-top 1px solid greyColor
    padding 15px 0
    
    &-content
      make-row()
      
      &__wrap
        display inline-block
        padding-left 30px
      
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px
          display none !important
          visibility hidden !important

      &__logo
        make-xs-column(4)
        make-xs-column-offset(3.5)
        display inline-block
        
        &-img
          padding-top 10px
          display inline-block
          
@media (min-width: 361px) and (max-width:479px)
  .footer
    border-top 1px solid greyColor
    padding 15px 0

    
    &-content
      display block
      
      &__wrap
        display inline-block
        padding-left 30px

        
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px
          display none !important
          visibility hidden !important

      &__logo
        display block
        left 25%
        
        &-img
          margin 0px auto
          padding-top 10px
          display block
          

@media (min-width: 320px) and (max-width:360px)
  .footer
    border-top 1px solid greyColor
    padding 15px 0

    
    &-content
      display block
      
      &__wrap
        display inline-block
        padding-left 30px

        
        &-copyright
          color silverDarkColor
          font-family 'notosans'
          font-size 20px
          line-height 52px
          display none !important
          visibility hidden !important

      &__logo
        display block
        left 20%
        
        &-img
          margin 0px auto
          padding-top 10px
          display block