@media (min-width: 1200px)
  .header-image
    height 600px
    position relative
    
    &::before
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      background rgba(0,0,0,0.4)
      z-index 1
      

    .header-image__text
      display block
      position relative
      z-index 2
      color #fff
      font-size 36px
      text-align center
      padding 80px 0 65px
      
      .header-image__text-bold
        font-family 'ProximaNovaBold'
        
@media (min-width: 992px) and (max-width: 1199px) 
  .header-image
    height 600px
    position relative
    
    &::before
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      background rgba(0,0,0,0.4)
      z-index 1
      

    .header-image__text
      display block
      position relative
      z-index 2
      color #fff
      font-size 36px
      text-align center
      padding 80px 0 65px
      
      .header-image__text-bold
        font-family 'ProximaNovaBold'
        
@media (min-width: 768px) and (max-width: 991px)
  .header-image
    height 600px
    position relative
    
    &::before
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      background rgba(0,0,0,0.4)
      z-index 1
      

    .header-image__text
      display block
      position relative
      z-index 2
      color #fff
      font-size 36px
      text-align center
      padding 80px 0 65px
      
      .header-image__text-bold
        font-family 'ProximaNovaBold'
        

@media (max-width: 767px)
  .header-image
    height 600px
    position relative
    
    &::before
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      background rgba(0,0,0,0.4)
      z-index 1
      

    .header-image__text
      display block
      position relative
      z-index 2
      color #fff
      font-size 30px
      text-align center
      padding 80px 0 65px
      
      .header-image__text-bold
        font-family 'ProximaNovaBold'
        
@media (max-width: 480px)
  .header-image
    height 600px
    position relative
    
    &::before
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      background rgba(0,0,0,0.4)
      z-index 1
      

    .header-image__text
      display block
      position relative
      z-index 2
      color #fff
      font-size 26px
      text-align center
      padding 80px 0 65px
      
      .header-image__text-bold
        font-family 'ProximaNovaBold'

