@media (min-width: 1200px)
  .navbar
    background none
    margin-bottom 0
    z-index 5
    
    .container
      .navbar-header
        .navbar-brand
          
          padding 0px 15px
          height 100px
            
      .navbar-ex1-collapse
        .top-menu
          margin-left 120px
          margin-top 20px
                  
          .top-menu__item
            line-height 20px
            color #3d3b3b
            font-size 18px
            transition(color ease-in-out 0.2s)
            
            &:hover
              border-top solid 2px
              color silverDarkColor
            
            &:active
              border-top solid 2px
              color silverDarkColor
            
        .top-menu-right
          .top-menu-right__item
            font-size 18px
            color silverDarkColor
            line-height 40px
            
            &-login
              border 3px solid silverColor
              border-radius 5px
              line-height 14px
              padding 10px 20px
              transition(all ease-in-out 0.5s)
              
              &:hover
                color #fff
                background silverColor
                
          .top-menu-right__item-wrapper
            margin 25px 0
            margin-left 0px
            

        .login-panel
          position relative
          margin-top 22px
          
          &__avatar
            background transparent
            size(80px, 60px)
            border-top-radius 5px
            text-align center
            padding 5px 0
            display inline-block
            cursor pointer
            transition(background ease-in-out 0.5s)
                     
            &-img
              display inline-block
              vertical-align middle
              line-height 50px
              size(50px, 50px)
              border-radius 25px
              overflow hidden
              position relative
              
              &-src
                position absolute
                top 0
                left 0
                line-height 50px
                width 50px
                height auto
              
          &__name
            margin-left 10px
            display inline-block
            font-size 16px
            font-family 'ProximaNovaBold'
            color blackColor
            
          .login-panel__buttons
            position absolute
            background silverColor
            border-radius 0 5px 5px 5px
            padding 10px 0
            width 208px
            transform rotatex(90deg)
            opacity 0
            transition(all ease-in-out 0.5s)
            
            &__item
              color #fff
              font-family 'GeometriaRegular'
              font-size 16px
              display block
              width 208px
              padding 5px 20px
              
              &:hover
                background silverDarkColor 

          &:hover
            .login-panel__buttons
              transform rotatex(0)      
              display block
              opacity 1
            
            .login-panel__avatar
              background silverColor
              
@media (min-width:992px ) and (max-width: 1199px)
  .navbar
    background none
    margin-bottom 0
    z-index 5
    
    .container
      .navbar-header
        .navbar-brand
          
          padding 0px 15px
          height 100px
            
      .navbar-ex1-collapse
        .top-menu
          margin-left 120px
          margin-top 20px
                  
          .top-menu__item
            line-height 20px
            color #3d3b3b
            font-size 18px
            transition(color ease-in-out 0.2s)
            
            &:hover
              border-top solid 2px
              color silverDarkColor
            
            &:active
              border-top solid 2px
              color silverDarkColor
            
        .top-menu-right
          .top-menu-right__item
            font-size 18px
            color silverDarkColor
            line-height 40px
            
            &-login
              border 3px solid silverColor
              border-radius 5px
              line-height 14px
              padding 10px 20px
              transition(all ease-in-out 0.5s)
              
              &:hover
                color #fff
                background silverColor
                
          .top-menu-right__item-wrapper
            margin 25px 0
            margin-left 0px
            

        .login-panel
          position relative
          margin-top 22px
          
          &__avatar
            background transparent
            size(80px, 60px)
            border-top-radius 5px
            text-align center
            padding 5px 0
            display inline-block
            cursor pointer
            transition(background ease-in-out 0.5s)
                     
            &-img
              display inline-block
              vertical-align middle
              line-height 50px
              size(50px, 50px)
              border-radius 25px
              overflow hidden
              position relative
              
              &-src
                position absolute
                top 0
                left 0
                line-height 50px
                width 50px
                height auto
              
          &__name
            margin-left 10px
            display inline-block
            font-size 16px
            font-family 'ProximaNovaBold'
            color blackColor
            
          .login-panel__buttons
            position absolute
            background silverColor
            border-radius 0 5px 5px 5px
            padding 10px 0
            width 208px
            transform rotatex(90deg)
            opacity 0
            transition(all ease-in-out 0.5s)
            
            &__item
              color #fff
              font-family 'GeometriaRegular'
              font-size 16px
              display block
              width 208px
              padding 5px 20px
              
              &:hover
                background silverDarkColor 

          &:hover
            .login-panel__buttons
              transform rotatex(0)      
              display block
              opacity 1
            
            .login-panel__avatar
              background silverColor
              
@media (min-width:768px ) and (max-width: 991px)
  .navbar
    background none
    margin-bottom 0
    z-index 5
    
    .container
      .navbar-header
        .navbar-brand
          
          padding 0px 15px
          height 100px
            
      .navbar-ex1-collapse
        .top-menu
          margin-top 20px
                  
          .top-menu__item
            line-height 20px
            color #3d3b3b
            font-size 18px
            transition(color ease-in-out 0.2s)
            
            &:hover
              border-top solid 2px
              color silverDarkColor
            
            &:active
              border-top solid 2px
              color silverDarkColor
            
        .top-menu-right
          .top-menu-right__item
            font-size 18px
            color silverDarkColor
            line-height 40px
            
            &-login
              border 3px solid silverColor
              border-radius 5px
              line-height 14px
              padding 10px 15px
              transition(all ease-in-out 0.5s)
              
              &:hover
                color #fff
                background silverColor
                
          .top-menu-right__item-wrapper
            margin 25px 0
            margin-left 0px
            

        .login-panel
          position relative
          margin-top 22px
          
          &__avatar
            background transparent
            size(80px, 60px)
            border-top-radius 5px
            text-align center
            padding 5px 0
            display inline-block
            cursor pointer
            transition(background ease-in-out 0.5s)
                     
            &-img
              display inline-block
              vertical-align middle
              line-height 50px
              size(50px, 50px)
              border-radius 25px
              overflow hidden
              position relative
              
              &-src
                position absolute
                top 0
                left 0
                line-height 50px
                width 50px
                height auto
              
          &__name
            margin-left 10px
            display inline-block
            font-size 16px
            font-family 'ProximaNovaBold'
            color blackColor
            
          .login-panel__buttons
            position absolute
            background silverColor
            border-radius 0 5px 5px 5px
            padding 10px 0
            width 208px
            transform rotatex(90deg)
            opacity 0
            transition(all ease-in-out 0.5s)
            
            &__item
              color #fff
              font-family 'GeometriaRegular'
              font-size 14px
              display block
              width 208px
              padding 5px 20px
              
              &:hover
                background silverDarkColor 

          &:hover
            .login-panel__buttons
              transform rotatex(0)      
              display block
              opacity 1
            
            .login-panel__avatar
              background silverColor
              
@media (max-width:767px )
  .navbar
    background none
    margin-bottom 0
    z-index 5
    
    .container
      .navbar-header
        .navbar-brand
          
          padding 0px 15px
          height 100px
            
      .navbar-ex1-collapse
        .top-menu
          margin-top 20px
                  
          .top-menu__item
            line-height 20px
            color #3d3b3b
            font-size 18px
            transition(color ease-in-out 0.2s)
            
            &:hover
              color greenNice
            
            &:active
              color greenNice
            
        .top-menu-right
          .top-menu-right__item
            font-size 18px
            color #3d3b3b
            line-height 20px
            
            &-login
              line-height 14px

              transition(all ease-in-out 0.5s)
              
              &:hover
                color greenNice

                
          .top-menu-right__item-wrapper
            margin 25px 0
            margin-left 0px
            

        .login-panel
          position relative
          margin-top 22px
          
          
          &__avatar
            background silverColor
            size(80px, 60px)
            border-top-radius 5px
            text-align center
            padding 5px 0
            display inline-block
            cursor pointer
            transition(background ease-in-out 0.5s)
                     
            &-img
              display inline-block
              vertical-align middle
              line-height 50px
              size(50px, 50px)
              border-radius 25px
              overflow hidden
              position relative
              
              &-src
                position absolute
                top 0
                left 0
                line-height 50px
                width 50px
                height auto
              
          &__name
            margin-left 10px
            display inline-block
            font-size 16px
            font-family 'ProximaNovaBold'
            color blackColor
            
          .login-panel__buttons
            display block
            position relative
            background silverColor
            border-radius 0 5px 5px 5px
            padding 10px 0
            width 208px
            transform rotatex(0)
            opacity 1
            transition(all ease-in-out 0.5s)
            
            &__item
              color #fff
              font-family 'GeometriaRegular'
              font-size 14px
              display block
              width 208px
              padding 5px 20px
              
              &:hover
                background silverDarkColor 

            
