@media (min-width: 1200px)
  .login
    .container
      .login-block
        make-md-column(4)
        make-md-column-offset(4)
        margin:0 auto;
        
        .login-block-total
          
          border-bottom solid 1px silverColor
          height 60px 

          
          
          .login-block-total__title
            float left
            
          
          .login-block-total__registration
            margin-top 25px
            float right
            font-size 14px


            
            &-bold
              color #5bbc2e
              height 20px
              
        .login-block-content
          
          &__form
            
            &__item
              margin-top 30px
              text-align center
             
        .login-block-content-buttom
            margin-top 30px
            margin-bottom 30px
            font-size 18px
            

            
            &__complete
              display block
              color #fff
              background-color silverDarkColor
              padding 10px 88px
              border solid 2px silverDarkColor
              border-radius 5px
              text-align center
            
            &__remember
              float right
              color #5bbc2e
              font-size 14px
              padding-top 5px
            
            &-error
              padding-top 20px
              padding-bottom 40px
              

@media (min-width: 992px) and (max-width: 1199px)
  .login
    .container
      .login-block
        make-md-column(4)
        make-md-column-offset(4)
        margin:0 auto;
        
        .login-block-total
          
          border-bottom solid 1px silverColor
          height 60px 

          
          
          .login-block-total__title
            float left
            
          
          .login-block-total__registration
            margin-top 25px
            float right
            font-size 14px


            
            &-bold
              color #5bbc2e
              height 20px
              
        .login-block-content
          
          &__form
            
            &__item
              margin-top 30px
              text-align center
             
        .login-block-content-buttom
            margin-top 30px
            margin-bottom 30px
            font-size 18px
            

            
            &__complete
              display block
              color #fff
              background-color silverDarkColor
              padding 10px 88px
              border solid 2px silverDarkColor
              border-radius 5px
              text-align center
            
            &__remember
              float right
              color #5bbc2e
              font-size 14px
              padding-top 5px
            
            &-error
              padding-top 20px
              padding-bottom 40px
@media (min-width: 768px) and (max-width: 991px)
    .login
    .container
      .login-block
        make-sm-column(6)
        make-sm-column-offset(3)
        margin:0 auto;
        
        .login-block-total
          
          border-bottom solid 1px silverColor
          height 60px 

          
          
          .login-block-total__title
            float left
            
          
          .login-block-total__registration
            margin-top 25px
            float right
            font-size 14px


            
            &-bold
              color #5bbc2e
              height 20px
              
        .login-block-content
          
          &__form
            
            &__item
              margin-top 30px
              text-align center
             
        .login-block-content-buttom
            margin-top 30px
            margin-bottom 30px
            font-size 18px
            

            
            &__complete
              display block
              color #fff
              background-color silverDarkColor
              padding 10px 88px
              border solid 2px silverDarkColor
              border-radius 5px
              text-align center
            
            &__remember
              float right
              color #5bbc2e
              font-size 14px
              padding-top 5px
            
            &-error
              padding-top 20px
              padding-bottom 40px
              
@media (max-width: 767px)
    .login
    .container
      .login-block
        make-xs-column(12)

        margin:0 auto;
        
        .login-block-total
          
          border-bottom solid 1px silverColor
          height 60px 

          
          
          .login-block-total__title
            float left
            
          
          .login-block-total__registration
            margin-top 25px
            float right
            font-size 14px


            
            &-bold
              color #5bbc2e
              height 20px
              
        .login-block-content
          
          &__form
            
            &__item
              margin-top 30px
              text-align center
             
        .login-block-content-buttom
            margin-top 30px
            margin-bottom 30px
            font-size 18px
            

            
            &__complete
              display block
              color #fff
              background-color silverDarkColor
              padding 10px 88px
              border solid 2px silverDarkColor
              border-radius 5px
              text-align center
            
            &__remember
              float right
              color #5bbc2e
              font-size 14px
              padding-top 5px
            
            &-error
              padding-top 20px
              padding-bottom 40px