@media (min-width: 1200px)
  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu

            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
              display block
        
              &__img
                size(150px, 150px)
                border-radius 75px
                overflow hidden
                margin 50px
                margin-left 65px

                &-src
                  width 150px
                  height auto
                  
              &__buttom
                make-lg-column-offset(3)
                float left
                padding 10px 27px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -170px
                
              &__text
                make-lg-column-offset(3)
                float left
                padding 10px 0
                width 600px
                font-family 'ProximaNovaRegular'
                margin-top -120px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              &__info
              
                make-row()
                margin 15px 0px


                
                &-item
                  make-md-column(4)
                  make-md-column-offset(1.3)
                  margin-top 20px

              &__adress
                make-row()
                margin 15px 0px


                
                &-item
                  make-md-column(4)
                  make-md-column-offset(1.3)
                  margin-top 20px
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &-item
                make-md-column(9.3)
                make-md-column-offset(1.3)
                height 150px
                resize none
                
            &__buttom
              make-row()
              margin 15px 0px
              
              &-save
                make-md-column-offset(7.4)
                make-md-column(2)
                padding 10px 0px
                background greenNice
                font-family 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                make-md-column(1)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px

@media (min-width: 992px) and (max-width: 1199px)
  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu
            make-lg-column(12)
            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
              display block
        
              &__img
                size(150px, 150px)
                border-radius 75px
                overflow hidden
                margin 50px
                margin-left 65px

                &-src
                  width 150px
                  height auto
                  
              &__buttom
                make-md-column-offset(3.2)
                float left
                padding 10px 27px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -170px
                
              &__text
                make-md-column-offset(3.2)
                float left
                padding 10px 0
                width 600px
                font-family 'ProximaNovaRegular'
                margin-top -120px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              &__info
              
                make-row()
                margin 15px 0px


                
                &-item
                  make-md-column(4)
                  make-md-column-offset(1.3)
                  margin-top 20px

              &__adress
                make-row()
                margin 15px 0px


                
                &-item
                  make-md-column(4)
                  make-md-column-offset(1.3)
                  margin-top 20px
                  
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &-item
                make-md-column(9.3)
                make-md-column-offset(1.3)
                height 150px
                resize none
                
            &__buttom
              make-row()
              margin 15px 0px
              
              &-save
                make-md-column-offset(7.4)
                make-md-column(2)
                padding 10px 0px
                background greenNice
                font-family 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                make-md-column(1)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
            
@media (min-width: 768px) and (max-width: 991px)
  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu
            make-lg-column(12)
            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
              display block
        
              &__img
                size(150px, 150px)
                border-radius 75px
                overflow hidden
                margin 50px
                margin-left 65px

                &-src
                  width 150px
                  height auto
                  
              &__buttom
                make-sm-column-offset(4)
                float left
                padding 10px 27px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -170px
                
              &__text
                make-sm-column-offset(4)
                float left
                padding 10px 0
                width 500px
                font-family 'ProximaNovaRegular'
                margin-top -120px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              &__info
              
                margin 15px 0px

                &-item
                  make-sm-column(6)
                  make-sm-column-offset(3)
                  margin-top 20px

              &__adress

                margin 10px 0px


                
                &-item
                  make-sm-column(6)
                  make-sm-column-offset(3)
                  margin-top 20px
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &-item
                make-sm-column(6)
                make-sm-column-offset(3)
                height 150px
                resize none
                
            &__buttom
              make-row()
              margin 15px 0px
              
              &-save
                make-sm-column-offset(3)
                make-sm-column(2.7)
                padding 10px 0px
                background greenNice
                font-family 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                make-sm-column(3)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px

@media (max-width: 767px)

  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu
            make-lg-column(12)
            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
              display block
        
              &__img
                size(150px, 150px)
                border-radius 75px
                overflow hidden
                margin 10px
                margin-left 10px

                &-src
                  width 150px
                  height auto
                  
              &__buttom
                make-xs-column-offset(5)
                float left
                padding 10px 27px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -130px
                
              &__text
                make-xs-column-offset(5)
                float left
                padding 10px 0
                width 250px
                font-family 'ProximaNovaRegular'
                margin-top -80px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              &__info
              
                margin 15px 0px

                &-item
                  make-xs-column(10)
                  make-xs-column-offset(1)
                  margin-top 20px

              &__adress

                margin 10px 0px


                
                &-item
                  make-xs-column(10)
                  make-xs-column-offset(1)
                  margin-top 20px
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &-item
                make-xs-column(10)
                make-xs-column-offset(1)
                height 150px
                resize none
                
            &__buttom
              make-row()
              margin 15px 0px
              
              &-save
                make-xs-column-offset(1)
                make-xs-column(5)
                padding 10px 0px
                background greenNice
                font-family 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                make-xs-column(4.55)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px

@media (max-width: 480px)

  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu
            make-lg-column(12)
            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
              display block
        
              &__img
                size(150px, 150px)
                border-radius 75px
                overflow hidden
                margin 10px
                margin-left 10px

                &-src
                  width 150px
                  height auto
                  
              &__buttom
                make-xs-column-offset(5)
                float left
                padding 10px 27px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -130px
                
              &__text
                make-xs-column-offset(5)
                float left
                padding 10px 0
                width 250px
                font-family 'ProximaNovaRegular'
                margin-top -80px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              &__info
              
                margin 15px 0px

                &-item
                  make-xs-column(10)
                  make-xs-column-offset(1)
                  margin-top 20px

              &__adress

                margin 10px 0px


                
                &-item
                  make-xs-column(10)
                  make-xs-column-offset(1)
                  margin-top 20px
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &-item
                make-xs-column(10)
                make-xs-column-offset(1)
                height 150px
                resize none
                
            &__buttom
              make-row()
              margin 15px 0px
              
              &-save
                make-xs-column-offset(1)
                make-xs-column(5)
                padding 10px 0px
                background greenNice
                font-family 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                make-xs-column(4.55)
                padding 10px 0px
                border-radius 3px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 20px
                
@media (min-width: 320px) and (max-width: 479px)

  .profile-block
    .container
      
      .profile-block__form
        
        &__title
          margin-top 60px
          font-family 'ProximaNovaRegular'
        
        &__content
          border solid 1px silverColor
          border-radius 5px
          margin-top 40px
          background #fff
          margin-bottom 40px
          
          &-submenu
            make-lg-column(12)
            border-bottom solid 1px silverColor
            font-family 'ProximaNovaRegular'
            
            &__title
              margin 20px
          
          &-avatar
            border-bottom solid 1px silverColor
            overflow hidden
            
            &-row
        
              &__img
                make-xs-column-offset(0.5)
                size(100px, 100px)
                border-radius 75px
                overflow hidden
                margin 10px
                margin-left 90px

                &-src
                  width 100px
                  height auto
                  make-xs-column-offset(0.5)
                  
              &__buttom
                make-xs-column-offset(5)
                float left
                padding 10px 10px
                background greenNice
                font-family 'ProximaNovaRegular'
                font-size 16px
                text-align center
                color #fff
                border solid 1px greenNice
                border-radius 5px
                margin-top -5px
                margin-left 45px
                
              &__text
                make-xs-column-offset(1)
                float left
                padding 10px 0
                width 250px
                font-family 'ProximaNovaRegular'
                margin-top 0px
                margin-left 50px
                
          &-data
            
            &__self
              border-bottom solid 1px silverColor
              padding-bottom 20px
              
              
              &__info
                margin 15px 0px
                margin-left 50px
                

                &-item
                  make-xs-column(10)
                  margin-top 20px

              &__adress
                margin 10px 0px
                
                &__content
                  margin-left 50px
                
                  &-item
                    make-xs-column(10)
                    margin-top 20px
                  
            &__aboutself
              border-bottom solid 1px silverColor
              height 180px
              margin-top  30px
              
              &__content
                margin-left 50px


                &-item
                  
                  make-xs-column(10)
                  make-xs-column-offset(1)
                  height 150px
                  resize none
                
                
            &__buttom
              make-row()
              margin 15px 0px
              margin-left 50px

              
              &-save
                
                make-xs-column(10)
                padding 10px 0px
                background greenNice
                font-fami ly 'ProximaNovaRegular'
                color #fff
                text-align center 
                border-radius 3px
                border solid 2px greenNice
                
              &-cancel
                margin-top 20px
                make-xs-column(10)
                padding 10px 0px
                border solid 2px silverColor
                font-family 'ProximaNovaRegular'
                color greenNice
                text-align center 
                border-radius 3px
                margin-left 0px




