@media (min-width: 1200px)
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 65px
              float left
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 30px
              
              &__content
                make-md-column(8)
                
                &-description
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px


                  
                  &__new
                    make-md-column-offset(3.5)
                    float right
                    make-md-column(4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-md-column(4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (min-width:992px ) and (max-width: 1199px)
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 65px
              float left
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 30px
              
              &__content
                make-md-column(6)
                
                &-description
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 20px


                  
                  &__new
                    make-md-column-offset(3.5)
                    float right
                    make-md-column(4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-md-column(4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (min-width:768px ) and (max-width: 991px)
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 35px
              float left
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px
                  margin-left 20px


                  
                  &__new
                    float right
                    make-sm-column(11.4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-sm-column(11.4)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (max-width:767px )
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              make-xs-column-offset(4.5)
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 0px
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (max-width:740px )
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              make-xs-column-offset(4)
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 0px
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (max-width:590px )
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              make-xs-column-offset(3.7)
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 0px
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (max-width:480px )
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              make-xs-column-offset(3.2)
              margin 25px
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              margin-left 0px
              border solid 1px silverColor
              
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 20px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
            
@media (min-width: 361px) and (max-width:479px)
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              border solid 1px silverColor
              margin-left 25%
                            
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      
@media (min-width: 320px) and (max-width:360px)
  .container
    margin-top 25px
    margin-bottom 25px
    
    .programms-block
      
        .row
          margin 0
          
          .programms-block__item
            border solid 1px silverColor
            border-radius 10px
            overflow hidden
            margin-top 20px

            
            &-img
              size(200px, 200px)
              border-radius 10px
              overflow hidden
              margin 50px
              border solid 1px silverColor
              margin-left 15%
                            
              &__src
                width 200px
                height auto
            
            &-text
              margin-top 45px
              
              &__content
                make-md-column(7)
                
                &-description
                  margin-left -10px
                  make-sm-column(7.3)
                  text-align justify
                  font-family 'ProximaNovaRegular'
                  font-size 16px
                  margin-bottom 20px
                
                &-buttom
                  make-row()
                  margin-top 40px
                  margin-left 0px
                  margin-bottom 50px


                  
                  &__new
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                                        
                  &__old
                    float right
                    make-xs-column(11)
                    padding 10px 0px
                    border-radius 3px
                    border solid 2px silverColor
                    font-family 'ProximaNovaRegular'
                    color greenNice
                    text-align center 
                    border-radius 3px
                    margin-left 10px
                    margin-top 20px
                    
                    &:hover
                      color #fff
                      background greenNice
                      border solid 2px greenNice
                      








