@media (min-width: 1200px)
  .registration
      
    .registration-block-message
      make-lg-column(8)
      make-lg-column-offset(2)


    .registration-block
      make-lg-column(4)
      make-lg-column-offset(4)
      
      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            make-xs-column(12)
            padding-top 10px
            padding-bottom 10px
            margin-bottom 30px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center
          
@media (min-width: 992px) and (max-width: 1199px) 
  .registration
      
    .registration-block-message
      make-md-column(12)


    .registration-block
      make-md-column(6)
      make-md-column-offset(3)
      
      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            display inline-block
            padding 10px 133px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center
              
@media (min-width: 768px) and (max-width: 991px) 
  .registration
      
    .registration-block-message
      make-sm-column(12)


    .registration-block
      make-sm-column(6)
      make-sm-column-offset(3)
      
      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            display inline-block
            padding 10px 77px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center

@media (max-width: 767px)
  .registration
        
    .registration-block-message
      make-xs-column(12)


    .registration-block
      make-xs-column(8)
      make-xs-column-offset(2)
      
      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            make-xs-column(12)
            padding-top 10px
            padding-bottom 10px
            margin-bottom 20px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center
                
@media (max-width: 480px)
  .registration
        
    .registration-block-message
      make-xs-column(12)


    .registration-block
      make-xs-column(12)

      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            display inline-block
            padding 10px 42px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center
            
@media (max-width: 320px)
  .registration
        
    .registration-block-message


    .registration-block
      make-xs-column(12)
      
      .registration-block__title
        padding-bottom 15px
        border-bottom solid 1px silverColor
        text-align center

      .registration-block-content
        
        &__form
          
          &__item
            margin-top 10px
            text-align center
           
      .registration-block-content-buttom
          padding-top 30px
          padding-bottom 30px
          font-size 18px
          
          &__complete
            display inline-block
            padding 10px 42px
            color #fff
            background-color silverDarkColor
            border solid 2px silverDarkColor
            border-radius 5px
            text-align center
