.user-block
  .container
    margin-top 30px
   
    .user-block__title        
      .user-block__title__login
        color greenNice
    
    .user-block-content
      display block
      border solid 1px silverColor
      border-radius 5px
      background #fff
      margin-top 30px
      
      .row
        margin 0

        
      &__avatar
        margin-top 20px
        float left
        make-md-column-offset(0.3)
        
        &-img
          width 150px
          height 150px
          overflow hidden
          border-radius 60px
          
          &-src
            width 120px
            height auto
            
      &__info
        make-md-column(4)
        margin-top 50px
        &-name
          color #3d3b3b
          font-family 'ProximaNovaBold'
          margin 0
          
        &-from
          color blackColor
          font-size 14px
          margin-top 10px
          
          .text-info
            vertical-align 5px
            color #000
            font-family 'ProximaNovaBold'
            font-size 14px
            
      &__row
        make-row()
        margin 0px
        
        &-content
          
          &-item
            display inline-block
            &__text
              color #000
            
            
                
