/*processing*/
.processing
  position: relative;
  transition(all ease-in-out 0.5s)

  &:before
    content ''
    display block;
    background rgba(255, 255, 255, 0.2) url('../img/loading.gif') no-repeat center
    position: absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 2
