.about-project
  .container
    .about-project-title
        .about-project-title__item
          .about-project-title__item__information

            h2 О проекте

            .about-project-header
              h3 Что такое EasyCAD.ru?

            .about-project-content
              p Что можно сказать о данном проекте? Два человека - студент и преподаватель решили на энтузиазме создать проект для того чтобы упростить жизнь проектировщикам в сфере ТГВ. Первый кирпичик в дело был заложен еще осенью 2015 года , когда была создана первая версия программы расчета параметров воздуха и вентиляционных процессов...




