.table-content-old
  .container
    .row
      .table-date

        form.table-date-form(id="get-table-data")
          -csrf_token
          .table-data-form-barometricpressure
            label.table-data-barometricpressure__label(for="barometricpressure") Барометрическое давление(кПа):
            input.table-data-barometricpressure__input(readonly, type="text", id="barometricpressure",name="barometricpressure", onchange="changeOnDot.call(this)",onkeyup="keyupOnDot.call(this)" , value='#{calculation.barometricpressure}')
            input(type="hidden", name="counter", id="counter", value="#{counter}")
          .table-data-form__table
            .table-responsive 
              table.table.responsive.table-bordered.table-striped.table-hover.table-condensed
                thead
                  tr
                    th
                      p №
                    th
                      p Выбор действия
                    th
                      p Вид действия
                    th
                      p Температура (°C)
                    th
                      p Энтальпия (кДж/кг)
                    th
                      p Влагосод. (гр/кг)
                    th
                      p Отн. Влажность (%)
                    th
                      p Доп. параметры для процесса
                    th
                      p Конечный параметр для построения процесса
                    th
                      p Начало расчета процесса.
                tbody(id="valueair")
                  - var index = 1;
                  for item in dotnotnalculation
                    tr 
                      td 
                        p=index
                      td 
                        select.form-control(name='selectionofaction_0'+str(index), id='selectionofaction_0'+str(index))
                          if item.selection_of_action == '0'
                            option(value='#{item.selection_of_action}', selected="selected") Построение точки
                          else
                            option(value='1', selected="selected") Построение процесса
                      td
                        if item.selection_of_action == '0'
                          select.form-control(name='dotvalue_0'+str(index), id='dotvalue_0'+str(index))
                            if item.type_of_action == '0'
                              option(value='#{item.type_of_action}', selected="selected") По температуре и энтальпии
                            if item.type_of_action == '1'
                              option(value='#{item.type_of_action}', selected="selected") По температуре и влагосодержанию
                            if item.type_of_action == '2'
                              option(value='#{item.type_of_action}', selected="selected") По температуре и отн.влажности
                            if item.type_of_action == '3'
                              option(value='#{item.type_of_action}', selected="selected") По влагосодержанию и энтальпии
                            if item.type_of_action == '4'
                              option(value='#{item.type_of_action}', selected="selected") По влагосодержанию и отн.влажности
                            if item.type_of_action == '5'
                              option(value='#{item.type_of_action}', selected="selected") По энтальпии и отн.влажности
                        else
                          select.form-control(name='processes_0'+str(index), id='processes_0'+str(index))
                            if item.type_of_action == '0'
                              option(value='#{item.type_of_action}', selected="selected") Нагрев и охлаждение по температуре
                            if item.type_of_action == '1'
                              option(value='#{item.type_of_action}', selected="selected") Охлаждение
                            if item.type_of_action == '2'
                              option(value='#{item.type_of_action}', selected="selected") Изотермическое увлажнение по влаге
                            if item.type_of_action == '3'
                              option(value='#{item.type_of_action}', selected="selected") Ад.охлаждение по температуре
                            if item.type_of_action == '4'
                              option(value='#{item.type_of_action}', selected="selected") Осушение
                            if item.type_of_action == '5'
                              option(value='#{item.type_of_action}', selected="selected") Уг. коэф по температуре
                            if item.type_of_action == '6'
                              option(value='#{item.type_of_action}', selected="selected") Уг. коэф по влагосодержанию
                            if item.type_of_action == '7'
                              option(value='#{item.type_of_action}', selected="selected") Уг. коэф по энтальпии
                            if item.type_of_action == '8'
                              option(value='#{item.type_of_action}', selected="selected") Нагрев по мощности
                            if item.type_of_action == '9'
                              option(value='#{item.type_of_action}', selected="selected") Ад.охлаждение по влагосодержанию
                            if item.type_of_action == '10'
                              option(value='#{item.type_of_action}', selected="selected") Ад.охлаждение по отн.влажности
                            if item.type_of_action == '11'
                              option(value='#{item.type_of_action}', selected="selected") Изотермическое увлажнение по отн. влажности
                            if item.type_of_action == '12'
                              option(value='#{item.type_of_action}', selected="selected") Изотермическое увлажнение по влагосодержанию
                            if item.type_of_action == '13'
                              option(value='#{item.type_of_action}', selected="selected") Смешени#{item.type_of_action}
                      td
                        if item.temperature == '0'
                          p -
                        else
                          input.form-control(readonly=true, name='temperature_0'+str(index),id='temperature_0'+str(index),
                          value='#{item.temperature}')
                      td
                        if item.enthalpy == '0'
                          p -
                        else
                          input.form-control(readonly=true, name='enthalpy_0'+str(index),id='enthalpy_0'+str(index),
                          value='#{item.enthalpy}')
                      td
                        if item.humidity == '0'
                          p -
                        else
                          input.form-control(readonly=true, name='humiditycontent_0'+str(index),id='humiditycontent_0'+str(index),
                          value='#{item.humidity}')
                      td
                        if item.relativities == '0'
                          p -
                        else
                          input.form-control(readonly=true, name='relativities_0'+str(index),id='relativities_0'+str(index),
                          value='#{item.relativities}')
                      td
                        if item.selection_of_action == '1' and item.type_of_action == '2'
                          input.form-control(readonly=true, name='airmoisture_0'+str(index),id='airmoisture_0'+str(index),
                          value='#{item.moisture}') 
                          b
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')

                        if item.selection_of_action == '1' and item.type_of_action == '3'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')

                        if item.selection_of_action == '1' and item.type_of_action == '5'
                          input.form-control(readonly=true, name='heatinput_0'+str(index),id='heatinput_0'+str(index),
                          value='#{item.heat_input}')
                          input.form-control(readonly=true, name='moisture_0'+str(index),id='moisture_0'+str(index),
                          value='#{item.moisture}')
                        if item.selection_of_action == '1' and item.type_of_action == '6'
                          input.form-control(readonly=true, name='heatinput_0'+str(index),id='heatinput_0'+str(index),
                          value='#{item.heat_input}')
                          input.form-control(readonly=true, name='moisture_0'+str(index),id='moisture_0'+str(index),
                          value='#{item.moisture}')
                        if item.selection_of_action == '1' and item.type_of_action == '7'
                          input.form-control(readonly=true, name='heatinput_0'+str(index),id='heatinput_0'+str(index),
                          value='#{item.heat_input}')
                          input.form-control(readonly=true, name='moisture_0'+str(index),id='moisture_0'+str(index),
                          value='#{item.moisture}')
                        if item.selection_of_action == '1' and item.type_of_action == '8'
                          input.form-control(readonly=true, name='capacity_0'+str(index),id='capacity_0'+str(index),
                          value='#{item.capacity}')
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                        if item.selection_of_action == '1' and item.type_of_action == '9'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                        if item.selection_of_action == '1' and item.type_of_action == '10'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                        if item.selection_of_action == '1' and item.type_of_action == '11'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                        if item.selection_of_action == '1' and item.type_of_action == '12'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                        if item.selection_of_action == '1' and item.type_of_action == '13'
                          input.form-control(readonly=true, name='airmassflow_0'+str(index),id='airmassflow_0'+str(index),
                          value='#{item.air_mass_flow}')
                          input.form-control(readonly=true, name='airmassflowtwo_0'+str(index),id='airmassflowtwo_0'+str(index),
                          value='#{item.air_mass_flow2}')
                      td
                        if item.selection_of_action == '1' and item.type_of_action == '0'
                          input.form-control(readonly=true, name='lasttemperature_0'+str(index),id='lasttemperature_0'+str(index), value='#{item.final_temperature}')
                        if item.selection_of_action == '1' and item.type_of_action == '3'
                          input.form-control(readonly=true, name='lasttemperature_0'+str(index),id='lasttemperature_0'+str(index), value='#{item.final_temperature}')
                        if item.selection_of_action == '1' and item.type_of_action == '5'
                          input.form-control(value='#{item.final_temperature}', readonly=true, name='lasttemperature_0'+str(index), id='lasttemperature_0'+str(index))
                        if item.selection_of_action == '1' and item.type_of_action == '6'
                          input.form-control(readonly=true, name='lasthumiditycontent_0'+str(index),id='lasthumiditycontent_0'+str(index), value='#{item.final_humidity}')
                        if item.selection_of_action == '1' and item.type_of_action == '6'
                          input.form-control(readonly=true, name='lastenthalpy_0'+str(index),id='lastenthalpy_0'+str(index), value='#{item.final_entalpy}')
                        if item.selection_of_action == '1' and item.type_of_action == '9'
                          input.form-control(readonly=true, name='lasthumiditycontent_0'+str(index),id='lasthumiditycontent_0'+str(index), value='#{item.final_humidity}')
                        if item.selection_of_action == '1' and item.type_of_action == '10'
                          input.form-control(readonly=true, name='lastrelativities_0'+str(index),id='lastrelativities_0'+str(index), value='#{item.final_relativities}')
                        if item.selection_of_action == '1' and item.type_of_action == '11'
                          input.form-control(readonly=true, name='lastrelativities_0'+str(index),id='lastrelativities_0'+str(index), value='#{item.final_relativities}')
                        if item.selection_of_action == '1' and item.type_of_action == '12'
                          input.form-control(readonly=true, name='lasthumiditycontent_0'+str(index),id='lasthumiditycontent_0'+str(index), value='#{item.final_humidity}')
                      td
                        if item.selection_of_action == '1'
                          if item.type_of_action == '13'
                            select.form-control(name='selecttimenowproccess_0'+str(index), id='selecttimenowproccess_0'+str(index))
                              option(value='#{item.from_process}', selected="selected") Точка #{item.from_process}
                            select.form-control(name='selecttimenowproccesstwo_0'+str(index), 
                            id='selecttimenowproccesstwo_0'+str(index))
                              option(value='#{item.from_process2}', selected="selected") Точка #{item.from_process2}
                          else
                            select.form-control(name='selecttimenowproccess_0'+str(index), id='selecttimenowproccess_0'+str(index))
                              option(value='#{item.from_process}', selected="selected") Точка #{item.from_process}
                      - var index = 1+index;








          .table-date-form__buttoms
            a.table-date-form__buttoms-buttom(name="calculate", id="calculate") Проивезсти расчет

          .table-responsive 
            table.table.responsive.table-bordered.table-striped.table-hover.table-condensed
              thead
                tr
                  th
                    p №
                  th
                    p Температура (°C)
                  th
                    p Энтальпия (кДж/кг)
                  th
                    p Влагосод. (гр/кг)
                  th
                    p Отн. Влажность (%)
                  th
                    p Плотность
                  th
                    p Темпр. точки росы
                  th
                    p Темпр. мокрого термометра
                  th
                    p Парц. давление
                  th
                    p Доп. пар-ры процесса
              tbody(id="resultair")
                  - var index = 1;
                  for item in dotnotnalculation
                    tr 
                      td 
                        #{index}
                      td 
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                    - var index = 1+index;


        .div_for_id_diagramm(id="flot-placeholder")