.container
  .row
    
    if calculation|length == 0
      h2 Вы еще не производили ниодного расчета по программе "ID-диаграмма".
    else

      .id-list
        for item in calculation

          .id-list-content
            a.id-list-content__link(href="/id/old/#{item.id}") Расчет на ID-Диаграмме "#{item.title}" (#{item.created|date:'d.m.Y'})


          

