.table-content
  .container
    .row
      .table-date

        form.table-date-form(id="get-table-data")
          -csrf_token
          .table-data-form-title
            label.table-data-title__label(for="save_title") Название расчета:
            input.table-data-title__input(type="text", id="save_title",name="save_title")
          .table-data-form-barometricpressure
            label.table-data-barometricpressure__label(for="barometricpressure") Барометрическое давление(кПа):
            input.table-data-barometricpressure__input(type="text", id="barometricpressure",name="barometricpressure", onchange="changeOnDot.call(this)" , onkeyup="keyupOnDot.call(this)", onchange="checkBarometricpressure.call(this)" )
            input(type="hidden", name="counter", id="counter", valie="")
          .table-data-form__table
            .table-responsive 
              table.table.responsive.table-bordered.table-striped.table-hover.table-condensed
                thead
                  tr
                    th
                      p №
                    th
                      p Выбор действия
                    th
                      p Вид действия
                    th
                      p Температура (°C)
                    th
                      p Энтальпия (кДж/кг)
                    th
                      p Влагосод. (гр/кг)
                    th
                      p Отн. Влажность (%)
                    th
                      p Доп. параметры для процесса
                    th
                      p Конечный параметр для построения процесса
                    th
                      p Начало расчета процесса.
                tbody(id="valueair")

          .table-date-form__buttoms
            a.table-date-form__buttoms-buttom(onclick="addRow()") Добавить точку
            a.table-date-form__buttoms-buttom(onclick="delRow()", id="delrowbutton") Удалить точку
            a.table-date-form__buttoms-buttom(name="calculate", id="calculate") Проивезсти расчет

          .table-responsive 
            table.table.responsive.table-bordered.table-striped.table-hover.table-condensed
              thead
                tr
                  th
                    p №
                  th
                    p Температура (°C)
                  th
                    p Энтальпия (кДж/кг)
                  th
                    p Влагосод. (гр/кг)
                  th
                    p Отн. Влажность (%)
                  th
                    p Плотность
                  th
                    p Темпр. точки росы
                  th
                    p Темпр. мокрого термометра
                  th
                    p Парц. давление
                  th
                    p Доп. пар-ры процесса
              tbody(id="resultair")
          .table-date-form__buttoms
            a.table-date-form__buttoms-buttom(name="save_calculate", id="save_calculate", onclick="visible()") Сохранить

        .div_for_id_diagramm(id="flot-placeholder")