.footer
  .container
    .footer-content

      .footer-content__wrap
        .footer-content__wrap-copyright Copyright © 2015 EasyCAD.ru  Все права защищены.
      

      a.footer-content__logo(href='http://air-sites.ru')
        img.footer-content__logo-img(src='/static/img/air-logo.png')