.header-image(data-bg="/static/img/header-image.jpg")
  .header-image__text.
    Добро пожаловать на официальный сайт программ #[span.header-image__text-bold EasyCad], разработанной для 
    #[br]выполнения расчетов вентиляционных систем. Здесь Вы 
    #[br]найдете инструменты для качественного осуществления данного
    #[br]вида работы в удобном и ускоренном режиме.