nav(role="navigation").navbar.navbar-default
  .container
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/" ).navbar-brand
        img.navbar-brand-img(src='/static/img/logo.png')
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.top-menu
        li: a(href="/").top-menu__item О проекте
        li: a(href="#").top-menu__item Новости
        li: a(href="/programm/list/").top-menu__item Программы
        //- li: a(href="#").top-menu__item Новости
        //- li: a(href="/service").top-menu__item Услуги


      if user.is_authenticated
        .nav.navbar-nav.navbar-right.login-panel
          .login-panel__avatar
            a.login-panel__avatar-img(href="/userprofile/")
              img.login-panel__avatar-img-src(src='/{{profile.avatar}}')
          a.login-panel__name(href="/userprofile/") #{user.username}
          .login-panel__buttons
            a.login-panel__buttons__logout.login-panel__buttons__item.logout Выход

      else
        ul.nav.navbar-nav.navbar-right.top-menu-right
          //- li: a(href="#").top-menu-right__item Магазин
          
          li.top-menu-right__item-wrapper
            a.top-menu-right__item.top-menu-right__item-login(href="/enter/#login") Войти
