.profile-block
  .container
    a.profile-block-upload(style='display: none;')
    form.profile-block__form()
      -csrf_token
      .profile-block__form__title
        h2 Настройки пользователя
      .profile-block__form__content
        .profile-block__form__content-submenu
          h4.profile-block__form__content-submenu__title Личные данные

        .profile-block__form__content-avatar
          .profile-block__form__content-avatar-row
            .profile-block__form__content-avatar-row__img
              img.profile-block__form__content-avatar-row__img-src(src='/{{profile.avatar}}')
              input(type="hidden", name="avatar", value="{{profile.avatar}}")
            a.profile-block__form__content-avatar-row__buttom Выбрать фото с диска
            .profile-block__form__content-avatar-row__text
              #[b Подсказка:] Загружаемый файл не должен превышать размер 5mb, минимальный размер изображения 300х300px

        .profile-block__form__content-data
          .profile-block__form__content-data__self
            .profile-block__form__content-data__self__info
              input.profile-block__form__content-data__self__info-item(placeholder='Имя', type='text', name="firstName",
              value='{{profile.firstName}}')
              input.profile-block__form__content-data__self__info-item(placeholder='Фамилия', type='text', name="secondName",
              value='{{profile.secondName}}')

            .profile-block__form__content-data__self__info
              input.profile-block__form__content-data__self__info-item(placeholder='Отчество', type='text', name="surName",
              value='{{profile.surName}}')
              input.profile-block__form__content-data__self__info-item(placeholder='Email', type='text', name="email",
              value='{{user.email}}', readonly)

            .profile-block__form__content-data__self__adress
              .profile-block__form__content-data__self__adress__content
                select.profile-block__form__content-data__self__adress-item(name="country")
                    for item in countries
                      if profile.country.id == item.id
                        option(value='#{item.id}', selected='selected') #{item.title}
                        else
                          option(value='#{item.id}') #{item.title}

                select.profile-block__form__content-data__self__adress-item(name="city")
                  for item in profile_cities
                    if item.id == profile.city.id
                      option(value='#{item.id}', selected='selected') #{item.title}
                      else
                        option(value='#{item.id}') #{item.title}

          .profile-block__form__content-data__aboutself
            .profile-block__form__content-data__aboutself__content
              textarea.profile-block__form__content-data__aboutself-item(placeholder='О себе', type='text', name="aboutSelf", 
              ) #{profile.aboutSelf}

          .profile-block__form__content-data__buttom
            a.profile-block__form__content-data__buttom-save Сохранить изменения
            a.profile-block__form__content-data__buttom-cancel Отменить




