.container
  .programms-block
    for item in programms
      .row
        .programms-block__item
          .programms-block__item-img
            img.programms-block__item-img__src(src='/media/#{item.img}')
          .programms-block__item-text
            .programms-block__item-text__content
              h2.programms-block__item-text__content-title #{item.title}
              .programms-block__item-text__content-description #{item.description}
              .programms-block__item-text__content-buttom
                a.programms-block__item-text__content-buttom__new(href="/#{item.url}/new/") Новый расчет
                a.programms-block__item-text__content-buttom__old(href="/#{item.url}/old/") Сохраненные расчеты
                //- a.programms-block__item-text__content-buttom__click Список расчетов 

