for item in users
  .users__block__item
    a.users__block__item-content(href="/users/#{item.user.id}")
      .users__block__item-content__avatar
        .users__block__item-content__avatar-img
          img.users__block__item-content__avatar-img-src(src="/#{item.avatar}")
      .users__block__item-content__name #{item.firstName} #{item.secondName}
      .users__block__item-content__info  #{item.city}