.user-block
  .container
    .user-block__title
      h1 Страница пользователя #[span.user-block__title__login #{userpage.user}]
    .user-block-content
      .row
        .user-block-content__avatar
          .user-block-content__avatar-img
            img.user-block-content__avatar-img-src(src="/#{userpage.avatar}"))

        .user-block-content__info
          h2.user-block-content__info-name #{userpage.secondName} #{userpage.firstName} #{userpage.surName}
          .user-block-content__info-from #[i.fa.fa-safari.fa-2x] #[span.text-info #{userpage.country}, #{userpage.city}.]

      .user-block-content__row
        .user-block-content__row-content
          .user-block-content__row-content-item 
            a.user-block-content__row-content-item__text О себе
          .user-block-content__row-content-item 
            a.user-block-content__row-content-item__text Используемые программы




