.register-success
  .register-success__title.alert.alert-success Регистрация прошла #[b успешно]
  .register-success__message.
    Для активации вашего аккаунта пройдите по ссылке,
    отправленной на вашу почту #[b #{user_email}]
