.about-project
  overflow hidden
  padding-bottom 140px
  padding-top 90px
  
  .about-project-title
    
    &__item
      
      &__information
           
        font-size 36px
        float left
        margin-top 0
        margin-bottom 0
        font-family 'ProximaNovaBold'
        color #000
          
    .about-project-header
      font-family 'ProximaNovaBold'
      color silverDarkColor
      
    .about-project-content
      font-family 'ProximaNovaBold'
      color silverDarkColor
      font-size 20px
      text-align justify
