.users
  padding 68px 0 140px
  
  &__title
    font-size 36px
    font-family 'ProximaNovaRegular'
    
    &-count
      color greenNice

  &__filter
    padding 45px 0
    &__form
      make-row()
      
      &__item
        make-md-column(4)
        font-size 18px
        position relative
        
        &-search-submit
          width 24px
          height 24px
          background url('../img/icons/search-submit.png') no-repeat 0 0
          position absolute
          top 12px
          right 25px
          opacity 0.8
          transition(0.2s linear opacity)
          
          &:hover
            opacity 1

  &__block
    make-row()


    &:before
      display block
      background: rgba(255,255,255,0.2) url("../img/loading.gif") no-repeat center 100px;
      position: absolute;
      background-size: 100px 100px;


    &.processing &__item
      opacity 0


    &__item
      transition(all 0.1s ease-in-out)
      display block
      make-lg-column(4)
      
      

      &-content
        display block
        padding 25px 10px 15px
        margin 20px 20px 0
        border 2px solid transparent
        border-radius 4px
        background #fff
        transition(border ease-in-out 0.5s)
        border solid 1px silverColor
        border-radius 5px
        

        &__avatar
          text-align center
          
          &-img
            width 120px
            height 120px
            overflow hidden
            border-radius 60px
            display inline-block
            
            &-src
              width 120px
              height auto
            
        &__name
          padding 12px 0 0
          color #3d3b3b
          font-family 'ProximaNovaBold'
          font-size 18px
          text-align center
          
        &__info
          color blackColor
          font-size 14px
          text-align center
          
        


  

