load-more-button()
  display inline-block
  color greyColor
  font-size 18px
  border 3px solid greyColor
  border-radius 25px
  padding 10px 80px
  transition(all ease-in-out 0.5s)

  &:hover
    color redColor
    border 3px solid redColor
    

button()
  display inline-block
  color #fff
  width 250px
  padding 12px 20px
  text-align center
  font-size 16px
  border-radius 3px
  
green-button()
  background greenColor
  padding 10px
  width 100%
  text-align center
  color #fff
  font-size 16px
  opacity 0.8
  transition(opacity ease-in-out 0.2s)
  border-radius 3px
  display inline-block
  
  &:hover
    opacity 1
    
red-button()
  background redColor
  padding 10px
  width 100%
  text-align center
  color #fff
  font-size 16px
  opacity 0.8
  transition(opacity ease-in-out 0.2s)
  border-radius 3px
  display inline-block
  
  &:hover
    opacity 1
