@font-face
    font-family 'ProximaNovaRegular'
    src url('../fonts/proxima-nova-regular/proxima-nova-regular.eot')
    src url('../fonts/proxima-nova-regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-regular/proxima-nova-regular.woff2') format('woff2'), url('../fonts/proxima-nova-regular/proxima-nova-regular.woff') format('woff'), url('../fonts/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'ProximaNovaBold'
    src url('../fonts/proxima-nova-bold/proxima-nova-bold.eot')
    src url('../fonts/proxima-nova-bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-bold/proxima-nova-bold.woff2') format('woff2'), url('../fonts/proxima-nova-bold/proxima-nova-bold.woff') format('woff'), url('../fonts/proxima-nova-bold/proxima-nova-bold.ttf') format('truetype')
    font-weight normal
    font-style normal




@font-face
  font-family: 'GeometriaRegular';
  src: url("../fonts/geometria-regular/geometria-regular.eot");
  src: url("../fonts/geometria-regular/geometria-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/geometria-regular/geometria-regular.woff2") format('woff2'), url("../fonts/geometria-regular/geometria-regular.woff") format('woff'), url("../fonts/geometria-regular/geometria-regular.ttf") format('truetype'), url("../fonts/geometria-regular/geometria-regular.svg#Geometria") format('svg');
  font-weight: normal;
  font-style: normal;


@font-face
  font-family: 'GeometriaBold';
  src: url("../fonts/geometria-bold/geometria-bold.eot");
  src: url("../fonts/geometria-bold/geometria-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/geometria-bold/geometria-bold.woff2") format('woff2'), url("../fonts/geometria-bold/geometria-bold.woff") format('woff'), url("../fonts/geometria-bold/geometria-bold.ttf") format('truetype'), url("../fonts/geometria-bold/geometria-bold.svg#Geometria-Bold") format('svg');
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GeometriaLight';
  src: url("../fonts/geometria-light/geometria-light.eot");
  src: url("../fonts/geometria-light/geometria-light.eot?#iefix") format('embedded-opentype'), url("../fonts/geometria-light/geometria-light.woff2") format('woff2'), url("../fonts/geometria-light/geometria-light.woff") format('woff'), url("../fonts/geometria-light/geometria-light.ttf") format('truetype'), url("../fonts/geometria-light/geometria-light.svg#geometria-light") format('svg');
  font-weight: normal
  font-style: normal
