input, select, textarea
  outline 0
  color #3d3b3b
  //border 1px solid #d2d5d7
  border-radius 5px
  padding 10px 18px
  width 100%
  font-size 16px

  transition(all ease-in-out 0.5s)
  border-radius 3px
  outline 0
  border 1px solid #ced0d2

  &:focus
    outline none
    border 1px solid grey
    box-shadow 0 0 3px rgba(0,0,0,0.3)
    -webkit-box-shadow 0 0 3px rgba(0,0,0,0.3)
    -moz-box-shadow 0 0 3px rgba(0,0,0,0.3)

select
  background url('../img/icons/arrow-down.png') no-repeat
  background-position 96% 50%
  -webkit-appearance none

input
  padding 11px 18px

.has-error
  input
  select
  textarea
    border-color #a94442
    -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
    box-shadow inset 0 1px 1px rgba(0,0,0,.075)
