
@font-face
  font-family 'icons'
  src url("../fonts/icons/icons.eot?51141048")
  src url("../fonts/icons/icons.eot?51141048#iefix") format('embedded-opentype'), url("../fonts/icons/icons.woff?51141048") format('woff'), url("../fonts/icons/icons.ttf?51141048") format('truetype'), url("../fonts/icons/icons.svg?51141048#icons") format('svg')
  font-weight normal
  font-style normal

.icon-tree:before
.icon-award:before
.icon-flag:before
.icon-flag-filled:before
.icon-flag-filled:before
.icon-cap:before
.icon-loading:before
.icon-play:before
.icon-loading-1:before
.icon-loading-2:before
.icon-close:before
  font-family: "icons"
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-tree:before
  content '\e800'

.icon-award:before
  content '\e801'

.icon-flag:before
  content '\e802'

.icon-flag-filled:before
  content '\e803'

.icon-cap:before
  content '\e804'

.icon-loading:before
  content '\e805'

.icon-play:before
  content '\e806'

.icon-close:before
  content '\e807'

.icon-loading-1:before
  content '\e808'

.icon-loading-2:before
  content '\e809'
  
.icon-level
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;

.icon-level.hard
  background: url("../img/icons/level-hard.png");


.icon-level.normal
  background: url("../img/icons/level-normal.png");


.icon-level.easy
  background: url("../img/icons/level-easy.png");

.icon-level.none
  background: url("../img/icons/level-none.png");

.icon-cup
  display inline-block
  width 27px
  height 18px
  background url("../img/icons/cup-white.png") center center no-repeat
