doctype html
html
  head
    include ./blocks/head.jade

  body
    include ./blocks/header.jade
    include ./blocks/header-image.jade
    include ./blocks/about-block.jade

    include ./blocks/footer.jade