doctype html
html
  head
    include ./blocks/head.jade




  body
    include ./blocks/header.jade
    include ./blocks/header-image.jade

    section.login(id='login')
      .container
        form.login-block
          -csrf_token
          .login-block-total
            .login-block-total__title 
              h3 Вход
            .login-block-total__registration
              a.login-block-total__registration-bold(href="/registration/#registration") У меня нет аккаунта


          .login-block-content
            input.login-block-content__form__item(type="text", placeholder='Логин', name="username")

          .login-block-content
            input.login-block-content__form__item(type="password", placeholder='Пароль', name="password")
          .login-block-content-buttom
            a.login-block-content-buttom__complete Войти
            a.login-block-content-buttom__remember Забыли пороль?
          .login-block-error

    include ./blocks/footer.jade
