doctype html
html
  head
    include ./blocks/head.jade



  body
    include ./blocks/header.jade
    include ./blocks/header-image.jade


  section.registration(id='registration')
    .container
      .registration-block-message
      form.registration-block
        
        h3.registration-block__title Регистрация
        -csrf_token
          .registration-block-content
            input.registration-block-content__form__item(type="text", placeholder='Имя', name="firstName")
          .registration-block-content
            input.registration-block-content__form__item(type="text", placeholder='Фамилия', name="secondName")
          .registration-block-content
            input.registration-block-content__form__item(type="text", placeholder='Логин', name="username")
          .registration-block-content
            input.registration-block-content__form__item(type="text", placeholder='Email', name="email")
          .registration-block-content
            input.registration-block-content__form__item(type="password", placeholder='Пароль', name="password1")
          .registration-block-content
            input.registration-block-content__form__item(type="password", placeholder='Пароль повторно', name="password2")
        .registration-block-content-buttom
          a.registration-block-content-buttom__complete Зарегистрироваться

    include ./blocks/footer.jade
