doctype html
html
  head
    include ./blocks/head.jade



  body
    include ./blocks/header.jade

    .users
      .container
        h2.users__title.
          В проекте уже #[span.users__title-count 110 543] специалиста

        .users__filter
          form.users__filter__form
            .users__filter__form__item
              input.users__filter__form__item-country(name="country", placeholder="Введите страну")

            .users__filter__form__item
              input.users__filter__form__item-city(name="city", placeholder="Введите город")


            .users__filter__form__item
              input.users__filter__form__item-name(placeholder="Поиск")
              a.users__filter__form__item-search-submit

        .users__block
          include ./blocks/users-block.jade






    include ./blocks/footer.jade